<h1>Înscrieri cursuri</h1>

<table class="table table-striped" style="margin-top:10px; float:left;">
  <thead>
    <tr>
        <th>Prenume</th>
        <th>Nume</th>
        <th>Denumire sesiune curs</th>
        <th>Data si ora </th>
        <th>Locul</th>
        <th>Instructor</th>
        <th>Status</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_enrolments.each do |course_enrolment| %>
      <tr>
        <td> <%= User.find_by_id(course_enrolment.user_id).first_name if course_enrolment.user_id%> </td>
        <td> <%= User.find_by_id(course_enrolment.user_id).last_name if course_enrolment.user_id%></td>
        <td> <%= CourseSession.find_by_id(course_enrolment.session_id).name if course_enrolment.session_id%></td>
        <td> <%= CourseSession.find_by_id(course_enrolment.session_id).date_time if course_enrolment.session_id%> </td>
        <td> <%= CourseSession.find_by_id(course_enrolment.session_id).place if course_enrolment.session_id%> </td>
        <td> <%= User.find_by_id(CourseSession.find_by_id(course_enrolment.session_id).instructor_id) if course_enrolment.session_id%> </td>
        <td> <%= course_enrolment.status %> </td>
        <% if current_user and current_user.has_role? :admin%>
          <td><%= link_to 'Editare', edit_course_enrolment_path(course_enrolment), :class => 'btn btn-mini btn-info' %></td>
          <td><%= link_to 'Ștergere', course_enrolment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
        <% end %>   
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user and current_user.has_role? :admin%>
    <%= link_to 'Adaugă înscriere curs', new_course_enrolment_path, :class => 'btn btn-info' %>
<% end %>
