<p id="notice"><%= notice %></p>

<p>
  <strong>Id utilizator:</strong>
  <%= @course_enrolment.user_id %>
</p>

<p>
  <strong>Id sesiune curs:</strong>
  <%= @course_enrolment.session_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course_enrolment.status %>
</p>


<%= link_to 'Editare', edit_course_enrolment_path(@course_enrolment) %> |
<%= link_to 'Înapoi', course_enrolments_path %>
