<h1>Sesiuni ale cursurilor</h1>

<table class="table table-striped" style="margin-top:10px; float:left;">
  <thead>
    <tr>
      <th>Denumire sesiune</th>
      <th>Titlu curs</th>
      <th>Email instructor</th>
      <th>Data și ora</th>
      <th>Locul</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_sessions.each do |course_session| %>
      <tr>
        <td><%= course_session.name %> </td>
        <td><%= Course.find_by_id(course_session.course_id).title %></td>
        <td><%= User.find_by_id(course_session.instructor_id).email %></td>
        <td><%= course_session.date_time %></td>
        <td><%= course_session.place %></td>
        <td><%= link_to 'Detalii', course_session, :class => 'btn btn-mini btn-info' %></td>
        <% if current_user and current_user.has_role? :admin%>
          <td><%= link_to 'Editare', edit_course_session_path(course_session), :class => 'btn btn-mini btn-info' %></td>
          <td><%= link_to 'Ștergere', course_session, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
        <% end>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user and current_user.has_role? :admin%>
  <%= link_to 'New Course session', new_course_session_path, :class => 'btn btn-info'  %>
<% end %>
