<p id="notice"><%= notice %></p>

<p>
  <strong>Denumire sesiune:</strong>
  <%= @course_session.name %>
</p>

<p>
  <strong>Id curs:</strong>
  <%= @course_session.course_id %>
</p>

<p>
  <strong>Id instructor:</strong>
  <%= @course_session.instructor_id %>
</p>

<p>
  <strong>Data și ora:</strong>
  <%= @course_session.date_time %>
</p>

<p>
  <strong>Locul:</strong>
  <%= @course_session.place %>
</p>

<%= link_to 'Editare', edit_course_session_path(@course_session) %> |
<%= link_to 'Înapoi', course_sessions_path %>
