<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :denumire %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :descriere %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :nivel %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :curs_necesar %><br>
    <%= f.collection_select :master_course_id, Course.order(:title),:id,:title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :tip_curs %><br>
    <%= f.collection_select :course_type_id, CourseType.order(:name),:id,:name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
