<p id="notice"><%= notice %></p>

<p>
  <strong>Denumire:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Descriere:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @course.level %>
</p>

<p>
  <strong>Id tip curs:</strong>
  <%= @course.course_type_id %>
</p>

<%= link_to 'Editează', edit_course_path(@course) %> |
<%= link_to 'înapoi', courses_path %>
