<ul class="nav nav-pills pull-right">
    <% if user_signed_in? %>
        <li><%= link_to "Tipuri cursuri", tipuri_cursuri_path %></li>
        <li><%= link_to "Cursuri", cursuri_path %></li>
        <li><%= link_to "Sesiuni cursuri", sesiuni_cursuri_path %> </li>
        <li><%= link_to "Înscrieri cursuri", inscrieri_cursuri_path %></li>

      <li><%= link_to current_user.email, '#' %> </li>  
      <li><%= link_to "Ieșire", destroy_user_session_path, :method => :delete %></li>
  <% else %>
      <li><%= link_to "Ieșire", destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to "Autentificare", new_user_session_path %></li>
  <% end %>
</ul>
